html,body {
    height: 100%;
}
body {
    background: #9796f0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #fbc7d4, #9796f0) no-repeat ; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin:0;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.loader {
    width: 120px;
    height: 120px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    stroke-linecap: round;
    stroke-width: 4;
    fill: none;
  }
  .loader .internal-circle,
  .loader .external-circle {
    stroke: #fff;
    stroke-dashoffset: 0;
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  .loader .internal-circle {
    stroke-dasharray: 187;
    -webkit-animation: internal 1s ease-in-out infinite;
            animation: internal 1s ease-in-out infinite;
    opacity: .4;
  }
  .loader .external-circle {
    stroke-dasharray: 312;
    -webkit-animation: external 1s linear infinite;
            animation: external 1s linear infinite;
    opacity: .9;
  }
  
  @-webkit-keyframes internal {
    0% {
      stroke-dashoffset: 187;
    }
    25% {
      stroke-dashoffset: 80;
    }
    100% {
      stroke-dashoffset: 187;
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @keyframes internal {
    0% {
      stroke-dashoffset: 187;
    }
    25% {
      stroke-dashoffset: 80;
    }
    100% {
      stroke-dashoffset: 187;
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @-webkit-keyframes external {
    0% {
      stroke-dashoffset: 312;
      -webkit-transform: rotate(70deg);
              transform: rotate(70deg);
    }
    60% {
      stroke-dashoffset: -312;
    }
    100% {
      stroke-dashoffset: -312;
      -webkit-transform: rotate(450deg);
              transform: rotate(450deg);
    }
  }
  @keyframes external {
    0% {
      stroke-dashoffset: 312;
      -webkit-transform: rotate(70deg);
              transform: rotate(70deg);
    }
    60% {
      stroke-dashoffset: -312;
    }
    100% {
      stroke-dashoffset: -312;
      -webkit-transform: rotate(450deg);
              transform: rotate(450deg);
    }
  }
  
.container {
    margin-top: 10%;
}

.custom-file-label {
    text-align: left;
    font-size: xx-small;
}

.refresh-btn {
    color: #887272;
    transition: all 0.5s;
    text-align: center;
}
.refresh-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(255,255,255,0.3);
    transition: all 0.3s;
}
.refresh-btn:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.refresh-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.7);
    transform: scale(1.2,1.2);
}
.refresh-btn:hover::after {
    opacity: 1;
    transform: scale(1,1);
}

.save-btn {
    float:left;
    width: 100px;
}

.footer {
    bottom: 10px;
    right: 10px;
    position: absolute;
}

.offline {
    color: red;
}

.online {
    color: green;
}