@keyframes rainbow {
    0%{background-position:0% 50%}
    50%{background-position:100% 25%}
    100%{background-position:0% 50%}
}

html{
    width: 100%;
    height: 100%
}

body {
    background: #2BC0E4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2BC0E4, #EAECC6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2BC0E4, #EAECC6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin:0;
    width: 100%;
    height: 100%
}

header h1 {
    font-family: 'Roboto', sans-serif;
    background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
    text-align: left;
    background-size: 800% 800%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
    animation: rainbow 20s infinite;
    position: absolute;
    padding-left: 20px;
}

.topbar {
    width: 99%;
    overflow: hidden;
    padding: 10px 5px;
    background-color: rgba(69, 179, 169,0.5);
    display:flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap:wrap;
}

#bottombar {
    bottom: 0;
    position: absolute;
    width: 99%;
    overflow: hidden;
    padding: 7px 8px;
    background-color: rgba(169, 179, 69, 0.3);
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap:wrap;
}

.styledButton {
    min-width: 110px;
    min-height: 30px;
    margin: 0 1px;
    position: relative;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
    background: transparent;
    cursor: pointer;
    transition: .3s;
    color: white;
}
.styledButton:hover {
    box-shadow: 0px 0px 15px 5px #fff;
}

.popup-content{
    text-align:center;
    margin:0 auto;
}

.container{
    margin: 0 auto;
    padding-top: 30%;
}

.preview {
    position:relative;
    width: 280px;
    height: 70vh;
    float: right;
    overflow: auto;
}

.latency {
    bottom: 0;
    right: 10px;
    position: absolute;
}

div.roomqr {
    display: block;
    padding : 15px;
    background-color: rgba(255,255,255,1) !important;
}

#roomqr{
    background-color: rgba(255,255,255,1) !important;
}

body.hover {
    background: rgb(0,255,166);
    background: radial-gradient(circle, rgba(0,255,166,0.865983893557423) 0%, rgba(0,36,10,0.8071603641456583) 100%);
}

.message {
    font-size: larger;
}

.dropzone-prompt {
    max-width: 500px;
    margin: 1.75rem auto;
}

.fadeShow {
    opacity: 1;
    transition: opacity 300ms;
}
  
.fadeHide {
    opacity: 0;
    transition: opacity 250ms;
}